body {
    padding-top: 100px;
    font-size: 20px;
    line-height: 1.5em;
}
section {
    min-height: 500px;
}

.navbar {
    padding: 40px;
    font-family: 'Rouge Script', cursive;
    height: 67px;
    font-size: 36px;
}

.nav {
    background-color: rgb(200,200,200);
    margin: 40px;
}

li {

}

li.active {

}
